/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body
{
height:100%;
}

.alert{
	position: relative;
	z-index: 9999!important;
}

form{
	background: #eee;
	padding: 10px;
	border:1px solid #ddd;
	border-radius: 7px;
}

.form-inline{
	background: black!important;
	padding: 0px;
	border:0px;
	line-height: 20px;
	vertical-align: baseline;
}
.form-inline input.btn{
	position:relative;
	top:-3px;
}

.navbar{
	background: black;
	padding-top: 15px;
	padding-left: 40px;
	position:fixed;
	overflow: auto;
	box-shadow: 0px 0px 15px black;
}

.navbar p{
	padding: 7px;
	color:white;
	font-family: arial;
	font-size: 1.8em;
}

.btn-group{
	position:relative;
	top:-5px;
	margin-bottom: 10px;
}

.imagen{
	float: right;
	padding-right: 5%;
	z-index: 999;
}

.container-fluit{
	padding: 5%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.scroll-tab{
	max-height: 400px;
	overflow: auto;
}

form.new_user{
	width: 250px;
}
input.btn-info{
	width: 100% !important;
}

#holiday_date_1i{
	display: none;
}

.col-izq{
	width: 70%;
	display: inline-block;
}

.col-izq input, textarea{
	width: 95%!important;
}

.col-der{
	float:right;
	width: 220px;
	display: inline-block;
}

footer{
	position: fixed;
	bottom: 0px;
}

footer p{
	font-size: 1.2em!important;
	padding-left: 50px;
}